# Build output
build/
dist/
out/

# Generated types
.astro/

# Development
node_modules/
*.local

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.production

# Fresh build directory
_fresh/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
