*
{
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background: #dedede;
    color: #343434;
    margin: 0;
}

header
{
    background-color: #fff;
    color: #565656;
    border-bottom: 1px solid #bcbcbc;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1,
header p
{
    padding: 15px 5px;
    margin: 0;
}

header h1
{
    font-weight: normal;
}

header a
{
    color: inherit;
    text-decoration: none;
}

header a:hover,
header a:focus,
header a:active
{
    text-decoration: underline;
}

footer
{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #343434;
    color: #fff;
    padding: 10px 15px;
    font-size: 0.85rem;
}

footer p
{
    margin: 0;
    line-height: 1.5;
}

footer a
{
    color: #bcbcbc;
    text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active
{
    color: #dedede;
    text-decoration: underline;
}