#ske-doc *::before,
#ske-doc *,
#ske-doc *::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

#ske-doc.html,
#ske-doc body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

#ske-doc body {
  background: #007f7f;
  color: #beffff;
}

#ske-doc .ske-page {
  width: 100%;
  height: 100vmin;
}

#ske-doc .page_heading {
  background-color: #001010;
  padding: 16px 48px;
}

#ske-doc .page_heading .ske-logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  content: url("https://sikessem.com/logo.svg");
  height: 30px;
}

#ske-doc .page_content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}

#ske-doc .ske-view {
  padding: 64px 56px 72px;
}

#ske-doc .ske-view.home {
  background-color: #fff;
  border-bottom: 1px solid #004040;
}

#ske-doc .ske-view.error {
  width: 100vmin;
}

#ske-doc .view_heading {
  font-weight: bolder;
  font-size: clamp(max(18px, 1rem), 4vmin, min(24px,1.4rem));
}

#ske-doc .view_heading.light {
  color: #007f7f;
}

#ske-doc .view_heading.dark {
  color: #002020;
}

#ske-doc .subtitle {
  font-weight: 600;
  margin: 24px auto 32px;
  font-size: clamp(min(24px, 1.2rem), 4vmin, max(28px,1.6rem));
  color: #000;
}

#ske-doc .page_content .ske-view .view_content .content {
  margin: 8px auto;
}

#ske-doc .page_content .ske-view.error .view_content .content {
  font-size: 1.125rem;
  margin: 18px auto 24px;
  color: #fff;
  line-height: 1.6;
}

#ske-doc .link {
  text-decoration: none;
}

#ske-doc .link:hover,
#ske-doc .link:focus,
#ske-doc .link:active {
  text-decoration: underline;
}

#ske-doc .link.dark {
  color: #002020;
}

#ske-doc .link.dark:hover {
  color: #001010;
}

#ske-doc .link.dark:active {
  color: #004040;
}

#ske-doc .link.dark:focus {
  color: #004040;
}

#ske-doc .button {
  padding: 12px 16px;
  font-size: 1rem;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #007f7f;
}

#ske-doc .main.button {
  margin-top: 24px;
}

#ske-doc .large.button {
  padding: 16px 22px;
  font-size: min(22px, 1.2rem);
}

#ske-doc .small.button {
  padding: 8px 12px;
  font-size: max(14px, .875rem);
}

#ske-doc .button.light {
  background-color: #00bebe;
  color: #fff;
  border-color: #007f7f;
}

#ske-doc .button.dark {
  border-color: #beffff;
  background-color: #006060;
  color: #beffff;
}

#ske-doc .button.light:hover {
  background-color: #007f7f;
}

#ske-doc .button.dark:hover {
  background-color: #004040;
  color: #fff;
}

#ske-doc .button.light:active {
  background-color: #007878;
}

#ske-doc .button.dark:active {
  background-color: #005050;
  color: #fff;
}

#ske-doc .button.light:focus {
  background-color: #005050;
}

#ske-doc .button.dark:focus {
  background-color: #002020;
  color: #fff;
}

#ske-doc footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 8px 16px;
}

#ske-doc footer .ske-buttons .list {
  margin: 18px auto;
}

#ske-doc footer .ske-buttons .list .item {
  display: inline-block;
  margin: 0 12px;
}

#ske-doc footer .content p {
  margin: 8px auto;
  line-height: 1.5;
  font-size: max(12px, .725rem);
}
