*
{
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background: #dedede;
    color: #343434;
    margin: 0;
}

header
{
    background-color: #fff;
    color: #565656;
    border-bottom: 1px solid #bcbcbc;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1,
header p
{
    padding: 15px 5px;
    margin: 0;
}

header h1
{
    font-weight: normal;
}

header a
{
    color: inherit;
    text-decoration: none;
}

header h1 a
{
    content: url("https://sikessem.github.io/logo.svg");
    height: 32px;
}

header a:hover,
header a:focus,
header a:active
{
    text-decoration: underline;
}

footer
{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #565656;
    color: #fff;
    padding: 10px 15px;
    font-size: 0.75rem;
}

footer p
{
    margin: 0;
    line-height: 1.5;
}

footer a
{
    color: #bcbcbc;
    text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active
{
    color: #dedede;
    text-decoration: underline;
}

main
{
    text-align: center;
    padding: 25px 15px 50px;
}

main h1
{
    font-size: 2.25rem;
    font-weight: 500;
}

main p:first-child
{
    font-size: 1.75rem;
    margin-bottom: 50px;
}

main a
{
    border: 1px solid #565656;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
}