---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside>
	<h2>Interested in working together?</h2>
	<CallToAction href="mailto:siguici@proton.me">
		Send Me a Message
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
</aside>

<style>
  @reference '../styles/global.css';

	aside {
		@apply flex flex-col items-center gap-12 py-20 px-6 border-t border-t-[var(--gray-800)] border-b border-b-[var(--gray-800)];
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);

		@media (min-width: 50em) {
			& {
				@apply p-32 flex-row flex-wrap justify-between;
			}
		}
	}

	h2 {
		@apply text-3xl text-center;
		max-width: 15ch;
	
		@media (min-width: 50em) {
			& {
				@apply text-5xl text-left;
			}
		}
	}
</style>
