#preloader {
  position: absolute;
  z-index: 9999999999;
  inset: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--bg-color);
}

#preloader::before {
  width: 48px;
  height: 48px;
  display: inline-block;
  animation: pulse 1s infinite;
  content: url("./logo.svg");
}

#preloader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 40px 40px;
  transform: perspective(400px) rotateX(60deg);
  transform-origin: top;
  animation: gridMove 20s linear infinite;
}

#preloader.loaded {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
